body {font-family:verdana;margin:0;}
h1,h2,h3,h4,h5,h6 {margin:0;font-family:tahoma,arial;font-weight:bold; color:#666;}
#bd {margin-top:5px;}
#ft {clear:both;margin-top:20px;text-align:center;font-size:85%;border-top:1px solid #eee;padding:5px;}

/* header and masthead */
#hd {padding:10px 10px 0px 10px;}
#hd img {display:block;}
#hd #tagline {margin:6px 0 4px 0;}
#hd form {float:right;position:relative;margin:23px 0 0 0;}
#hd form input {margin-left:4px;}

/* nav tabs */
#nav {margin-top:5px; font-size:13px; background:none; border-bottom:4px solid #4146b6;}
#nav a {text-decoration:none;color:black;padding:0;margin:0;font-family:verdana;font-size:93%;letter-spacing:0.10em;}
#nav ul {padding-left:5px;margin:0;}
#nav ul li {float:left;margin:0;padding:0;background:#ddd;border-right:1px dotted #bbb;list-style:none;}
#nav ul li a {display:block;padding:3px 10px 3px 10px; border-bottom:1px solid #bbd;}
#nav ul li a:hover {background-color:#777;}
#nav ul li.on a {background:#EB5E00;color:#fff;font-weight:bold; border-bottom:1px solid #e96;}
#nav ul li.on {border-right:none;}
#nav ul li.on a:hover {}

p {margin:1em 0;}


h1 {font-size:167%; color:#039; }
h2 {font-size:146.5%; margin-top:1.5em;/* border-bottom:1px dotted #999;*/}
h3 {font-size:123.1%; }
h4 {font-size:108%; }

pre {background:#fbfbff; padding:5px;border:1px solid #dde;}

/* utilities */
.clearfix { /* for IE */ zoom:1;}
.clearfix:after { /* for Others */ content:"."; display:block; height:0; clear:both; visibility:hidden; }

/* irc */
.ircNav {font-size:85%; margin:5px auto; text-align:center;}
.ircTitle {margin-top: 20px;}
.ircEntries table { margin: 1px; font-size:85%; border-collapse:collapse;border-spacing:0;}
.ircEntries td { padding:5px; border:1px dotted #bbb;}
.ircDate  { background:#f5f5f5;}
.ircWho {font-weight:bold;color:#369;}
.odd {background:#f0f5ff;}
.even {background:#fff;}

/* secondary */
.secondary { margin-top:5px; }
.secondary .mod {background:#fbfbfb;border:1px solid #ccc; margin:0 0 20px 0; padding:10px 10px 10px 10px; color:#666;}
.secondary .mod a {text-decoration:none;color:#005288;}
.secondary .mod a:hover {text-decoration:underline;}
.secondary .mod .hd h4 {text-align:left;text-transform:uppercase;border-bottom:1px dotted #999;}
.secondary .mod .bd p {}
.mod .tagCloud {}

.ircsearchbox { margin:0 0 20px 10px;}
.ircsearchlabel {font-weight:bold;font-family:arial;}

.mod ul { margin-left:0px; }
.mod ul li { list-style:none; margin-left:0; padding:1px;}
.mod ul li.active { -webkit-border-radius:4px; background:#eef; border:2px solid #ccc; font-weight:bold;}
.mod ul li.red a { color:#A31B21;}
.mod ul li.yellow a {color:#DDB81E;}
.mod ul li.green a {color:#5F860E;}

.topics ol {}
.topics ol li {font-size:108%;padding:5px 0;}
.topics a:link {color:#028;}
.topics a:visited {color:#028;}